@import "tailwindcss";

button {
  cursor: pointer;
}

.scrollHidden::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "TikTok Sans", sans-serif;
}

@theme {
  /* Custom theme colors */
  --color-black: #000000;
  --color-white: #f6f6f6;
  --color-pink: #ff3b5c;
  --color-accent: #fe2c55;

  /* bg colors */
  --color-slate: #1f1f1f;
  --color-slate-100: #212121;
  --color-slate-800: #2c2c2c;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 8s linear infinite;
}
.animate-spin-slow {
  animation: spin 4s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}
